<div id="ideas_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @ideabook.title %></h1>
			<p class="description"><%= @ideabook.description %></p>
			<% unless @ideabook.facebook.blank? %>
				<a href="<%= @ideabook.facebook %>" class="subscribe_link">Facebook</a>
			<% end %>

			<% unless @ideabook.twitter.blank? %>
				<a href="<%= @ideabook.twitter %>" class="subscribe_link">Twitter</a>
			<% end %>

			<% unless @ideabook.google.blank? %>
				<a href="<%= @ideabook.google %>" class="subscribe_link">Google+</a>
			<% end %>
		</div>	
	</div>	
	<div id="breadcrumb">
		<%= link_to ideabook_path do %>
			All Ideabooks
			<span>/</span>
			<%= link_to @ideabook.title, ideabook_path(@ideabook) %>
			<span>/</span>
			<%= @idea.title %>
		<% end %>
	</div>

	<div id="episode_content">
		<div class="wrapper_skinny">
			<%= image_tag @idea.idea_thumbnail.url(:medium), class: "current_episode_thumbnail" %>
			<h2><%= @idea.title %></h2>
			<p class="description"><%= @idea.description %></p>
		</div>
	</div>

	<div id="episodes">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @ideas.each do |idea| %>
					<li class="cf">
						<div class="episode_thumbnail">
							<a href="">
								<img src="img/thumb1.png" alt="">
							</a>
						</div>
						<div class="episode_overview">
							<h2><%= link_to idea.title, ideabook_idea_path(@ideabook, idea) %></h2>
							<p class="description"><%= truncate(idea.description, length: 140) %></p>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<div class="pagination">
	<span class="previous_page disabled">Previous</span>
	<em class="current">1</em>
	<a href="">2</a>
	<a class="next_page" href="#">Next</a>
</div>